.body-color {
  width: 100vw;
  height: 100vh;
  background-color: hsl(220, 22%, 16%);
}

.inner-card {
  background-color: hsl(218, 20%, 24%);
  font-family: "Manrope", sans-serif;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

.font-color {
  color: hsl(150, 100%, 66%);
}

.advice {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  letter-spacing: 2px;
}

.btn-dice {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* display: inline-block; */
  width: 60px;
  height: 60px;
  position: absolute;
  transition-duration: 300ms;
  transition-property: box-shadow;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  text-align: center;
  bottom: 0;
  transform: translateY(50%);
}

.btn-dice:hover {
  box-shadow: 0 0 60px 30px hsl(150, 100%, 66%);
}

.dice-icon {
  width: 26px;
  height: 26px;
  margin: auto;
}

.card-text {
  padding: 0 1rem;
}
.card-body {
  position: relative;
  width: 456px;
}

.inner-btn {
  border-radius: 50%;
}

@media screen and (max-width: 500px) {
  .card-body {
    width: 92%;
    margin: 0 auto;
  }
  .advice {
    font-size: 7vw;
  }
  .card-body {
    padding: 10% !important;
  }

  .btn-dice {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .dice-icon {
    width: 80%;
    height: 80%;
  }
}
