.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid hsl(150, 100%, 66%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
  margin: 25% auto;
}
body {
  background-color: hsl(220, 22%, 16%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
